language: node_js
node_js:
  - "0.10"
before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq libjpeg8-dev libjpeg-turbo8-dev libpng12-dev libcairo-dev libgif-dev libmapnik2.2 libmapnik2-dev
services:
 - redis-server
